ROS_DOMAIN_ID=17
QGC_IP=127.0.0.1
QGC_PORT=14550
LIBGL_ALWAYS_SOFTWARE=1

# Bridge
BRIDGE_LOCAL_PORT=14551
MAV_SYS_ID=1
MAV_COMP_ID=1
MAX_LINEAR=0.5
MAX_ANGULAR=1.2
CMD_TIMEOUT=0.6
BASE_LAT=37.5665
BASE_LON=126.9780
BASE_ALT=50.0
